{% include 'partials/header.html' %}

<h2>Best Defense Config</h2>

<form action="" method="POST">
	<div class="form-group">
		<label for="team1">Team 1</label>
		<input type="text" name="team1" id="team1">
	</div>
	<div class="form-group">
		<label for="team2">Team 2</label>
		<input type="text" name="team2" id="team2">
	</div>
	<div class="form-group">
		<label for="team3">Team 3</label>
		<input type="text" name="team3" id="team3">
	</div>
	<input type="submit" value="Get Defenses!" class="btn btn-primary">
</form>

{% include 'partials/footer.html' %}