<div class="form-group">
	<div class="radio">
		<p>Low Bar</p>
		<label class="checkbox-inline">
			<input type="radio" name="lowbar" id="lowbar1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="lowbar" id="lowbar2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="lowbar" id="lowbar3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Portcullis</p>
		<label class="checkbox-inline">
			<input type="radio" name="portcullis" id="portcullis1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="portcullis" id="portcullis2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="portcullis" id="portcullis3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Cheval de Frise</p>
		<label class="checkbox-inline">
			<input type="radio" name="cheval" id="cheval1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="cheval" id="cheval2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="cheval" id="cheval3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Moat</p>
		<label class="checkbox-inline">
			<input type="radio" name="moat" id="moat1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="moat" id="moat2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="moat" id="moat3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Ramparts</p>
		<label class="checkbox-inline">
			<input type="radio" name="ramparts" id="ramparts1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="ramparts" id="ramparts2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="ramparts" id="ramparts3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Drawbridge</p>
		<label class="checkbox-inline">
			<input type="radio" name="drawbridge" id="drawbridge1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="drawbridge" id="drawbridge2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="drawbridge" id="drawbridge3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Sally Port</p>
		<label class="checkbox-inline">
			<input type="radio" name="sallyport" id="sallyport1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="sallyport" id="sallyport2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="sallyport" id="sallyport3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Rock Wall</p>
		<label class="checkbox-inline">
			<input type="radio" name="rockwall" id="rockwall1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="rockwall" id="rockwall2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="rockwall" id="rockwall3" value="2"> Can and like to cross. 
		</label>
	</div>
	<div class="radio">
		<p>Rough Terrain</p>
		<label class="checkbox-inline">
			<input type="radio" name="roughterrain" id="roughterrain1" value="0" checked> Can't cross. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="roughterrain" id="roughterrain2" value="1"> Can cross, but don't like to. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="roughterrain" id="roughterrain3" value="2"> Can and like to cross. 
		</label>
	</div>
</div>