{% include 'partials/header.html' %}

<h1>{{ event.name }}</h1>
<h3>{{ event.start_date | date('D, F d') }} - {{ event.end_date | date('D, F d, Y') }}</h3>

<p><a target="_blank" href="https://thebluealliance.com/event/{{ event.key }}">See more on The Blue Alliance</a></p>

{% if user.rank >= 9 %}
<div class="jumbotron"><button class="btn btn-default" id="update">Update Data!</button></div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#teams" data-toggle="tab">Teams</a></li>
	<li><a href="#stats" data-toggle="tab">Stats</a></li>
	<li><a href="#matches" data-toggle="tab">Matches</a></li>
	<li><a href="#rankings" data-toggle="tab">Rankings</a></li>
	<li><a href="#awards" data-toggle="tab">Awards</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane table-responsive active" id="teams">
		<h3>Teams</h3>
		<ul>
			{% for team in teams %}
				<li><a href="/team/{{ team.team_number }}">{{ team.team_number }} - {{  team.nickname }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="tab-pane table-responsive" id="stats">
		<h3>Stats</h3>
		<table class="table table-striped" id="tstats">
			<thead>
				<th id="stats-number">Team</th>
				<th id="stats-opr">OPR</th>
				<th id="stats-dpr">DPR</th>
				<th id="stats-ccwm">CCWM</th>
			</thead>
			<tbody>
				{% for team in stats %}
				<tr>
					<td class="number"><a href="/team/{{ team.number }}">{{ team.number }}</a></td>
					<td class="opr">{{ team.opr }}</td>
					<td class="dpr">{{ team.dpr }}</td>
					<td class="ccwm">{{ team.ccwm }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane table-responsive" id="matches">
		<h3>Matches</h3>
		<table class="table" id="tmatches">
			<thead>
				<th id="match-type">Match Type</th>
				<th id="match-number">Match Number</th>
				<th id="match-rt1">Red Team 1</th>
				<th id="match-rt2">Red Team 2</th>
				<th id="match-rt3">Red Team 3</th>
				<th id="match-rs">Red Score</th>
				<th id="match-bt1">Blue Team 1</th>
				<th id="match-bt2">Blue Team 2</th>
				<th id="match-bt3">Blue Team 3</th>
				<th id="match-bs">Blue Score</th>
			</thead>
			<tbody>
			{% for match in matches %}
				{% include 'partials/simple_match.html' %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane table-responsive" id="rankings">
		<h3>Rankings</h3>
		<table class="table" id="trankings">
			<thead>
				<th id="rank-rank">Ranking</th>
				<th id="rank-team">Team Number</th>
				<th id="rank-rp">Ranking Points</th>
				<th id="rank-auto">Auto Points</th>
				<th id="rank-sc">Scale/Challenge Points</th>
				<th id="rank-goals">Goals Points</th>
				<th id="rank-defense">Defense Points</th>
				<th id="rank-record">Record</th>
				<th id="rank-played">Matches Played</th>
			</thead>
			<tbody>
				{% for ranking in rankings[1:] %}
				<tr>
					<td>{{ ranking[0] }}</td>
					<td><a href="/team/{{ ranking[1] }}">{{ ranking[1] }}</a></td>
					<td>{{ ranking[2] }}</td>
					<td>{{ ranking[3] }}</td>
					<td>{{ ranking[4] }}</td>
					<td>{{ ranking[5] }}</td>
					<td>{{ ranking[6] }}</td>
					<td>{{ ranking[7] }}</td>
					<td>{{ ranking[8] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane table-responsive" id="awards">
		<h3>Awards</h3>
		<table class="table">
			<thead>
				<th>Award</th>
				<th>Winner</th>
			</thead>
			<tbody>
				{% for award in awards %}
				<tr>
					<td>{{ award.name }}</td>
					<td>
						{% for team in award.recipient_list %}
						<a href="/team/{{ team.team_number }}">{{ team.team_number }}</a>
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script src="/public/scripts/utils.js"></script>
<script type="text/javascript">

	// Pardon the messiness of this
	$('#stats-number').on('click touchstart', function(e) {sort(e,0,true)});
	$('#stats-opr').on('click touchstart', function(e) {sort(e,1,false)});
	$('#stats-dpr').on('click touchstart', function(e) {sort(e,2,false)});
	$('#stats-ccwm').on('click touchstart', function(e) {sort(e,3,false)});
	$('#match-type').on('click touchstart', function(e) {sort(e,0,true)});
	$('#match-number').on('click touchstart', function(e) {sort(e,1,true)});
	$('#match-rs').on('click touchstart', function(e) {sort(e,5,false)});
	$('#match-bs').on('click touchstart', function(e) {sort(e,9,false)});
	$('#rank-rank').on('click touchstart', function(e) {sort(e,0,true)});
	$('#rank-team').on('click touchstart', function(e) {sort(e,1,true)});
	$('#rank-rp').on('click touchstart', function(e) {sort(e,2,false)});
	$('#rank-auto').on('click touchstart', function(e) {sort(e,3,false)});
	$('#rank-sc').on('click touchstart', function(e) {sort(e,4,false)});
	$('#rank-goals').on('click touchstart', function(e) {sort(e,5,false)});
	$('#rank-defense').on('click touchstart', function(e) {sort(e,6,false)});
	$('#rank-record').on('click touchstart', function(e) {sort(e,7,false)});
	$('#rank-played').on('click touchstart', function(e) {sort(e,8,false)});

	$('#update').on('click touchstart', function(e) {
		e.preventDefault();
		window.location.href = '/event/{{ event.key }}/update';
	});

</script>

{% include 'partials/footer.html' %}
