{% include 'partials/header.html' %}

<h1>Welcome to Eagle</h1>

{% if loggedIn %}

<h3>Welcome {{ user.name }}</h3>

<form class="form-group">
	<div class="input-group">
		<input type="text" autocomplete="off" class="form-control" placeholder="Team" id="teamSearch">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="submit" id="teamBtn">Get Team!</button>
		</span>
	</div>
</form>

<form class="form-group">
	<div class="input-group">
		<input type="text" autocomplete="off" class="form-control" placeholder="Event" id="eventSearch">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="submit" id="eventBtn">Get Event!</button>
		</span>
	</div>
</form>


<a href="/team/2410">Go to Metal Mustangs Page</a><br>
<a href="/event/2016mokc">Go to KC Regional Page</a><br>
<a href="/event/2016iacf">Go to Iowa Regional Page</a>

{% elseif loggedIn == false %}

<form action="/login" method="post">
	<div class="form-group">
		<label for="email">Email Address</label><br>
		<input type="text" autocomplete="off" id="email" name="email" class="form-control"><br>
	</div>
	<div class="form-group">
		<label for="password">Password</label><br>
		<input type="password" required autocomplete="off" id="password" name="password" class="form-control"><br>
	</div>

	<input type="submit" value="Login!" class="btn btn-primary">
</form>

{% endif %}

{% include 'partials/footer.html' %}]
