{% include 'partials/header.html' %}

<h1>Find Match!</h1>
<form action="" method="POST" role="form">
	<label for="competition">Competition</label>
	<select name="competition" id="competition" class="form-control">
		<option value="mokc">KC Regional</option>
		<option value="iacf">Iowa Regional</option>
	</select>
	<div class="radio" id="matchTypes">
		<label class="checkbox-inline">
			<input type="radio" name="matchType" id="matchTypeQ" value="q" checked> Qualifier
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="matchType" id="matchTypeQF" value="qf"> Quarter Final 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="matchType" id="matchTypeSF" value="sf"> Semi Final 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="matchType" id="matchTypeF" value="f"> Final 
		</label>
	</div>
	<div class="form-group">
		<label for="matchNumber">Match Number</label>
		<input type="text" autocomplete="off" required class="form-control" name="matchNumber" id="matchNumber" required >
	</div>
	<div class="form-group">
		<label for="teamNumber">Team Number</label>
		<input type="text" autocomplete="off" required class="form-control" name="teamNumber" id="teamNumber" required >
	</div>
	<input type="submit" class="btn btn-primary" value="Scout Match!">
</form>

{% include 'partials/footer.html' %}