{% include 'partials/header.html' %}

<h1>Pit Scouting</h1>

<form method="post" action="" role="form">
	<div class="form-group">
		<label for="team_id">Team Number:</label>
		<input type="text" id="team_id" name="team_id" class="form-control" placeholder="Team Number">
	</div> 

{% include 'defenseScouting.html' %}
	<div class="form-group">
		<h3>Boulders</h3>
		<div class="radio">
			<label class="checkbox-inline">
				<input type="radio" name="boulders" id="boulders1" value="0"> Can't shoot. 
			</label>
			<label class="checkbox-inline">
				<input type="radio" name="boulders" id="boulders2" value="1"> Low goal preferred. 
			</label>
			<label class="checkbox-inline">
				<input type="radio" name="boulders" id="boulders3" value="2"> High goal preferred. 
			</label>
		</div>
		<label for="num_boulders">Approximate number of boulders:</label>
		<input type="number" id="num_boulders" name="num_boulders" class="form-control" placeholder="Estimatd Boulders">
	</div>
	<div class="form-group">
		<h3>Defensive play</h3>
		<div class="radio">
			<label class="checkbox-inline">
				<input type="radio" name="defensive_play" id="defensive_play1" value="0"> Can't play defense. 
			</label>
			<label class="checkbox-inline">
				<input type="radio" name="defensive_play" id="defensive_play2" value="1"> Can, but don't want to. 
			</label>
			<label class="checkbox-inline">
				<input type="radio" name="defensive_play" id="defensive_play3" value="2"> Prefer to play defense. 
			</label>
		</div>
	</div>
	<div class="radio">
		<p>Climbing</p>
		<label class="checkbox-inline">
			<input type="radio" name="climbing" id="climbing1" value="0"> Can't climb. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="climbing" id="climbing2" value="1"> Can climb, but inconsistent. 
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="climbing" id="climbing3" value="2"> Can climb and is consistent. 
		</label>
	</div>
	<div class="form-group">
		<label for="sensors">What sensors do they use?</label>
		<input type="text" name="sensors" id="sensors" class="form-control">
	</div>
	<div class="form-group">
		<label for="approx_points">Average number of points per match in practice?</label>
		<input type="number" name="approx_points" id="approx_points" class="form-control">
	</div>
	<div class="form-group">
		<label for="approx_cycles">Average number of cycles per match in practice?</label>
		<input type="number" name="approx_cycles" id="approx_cycles" class="form-control">
	</div>
	<div class="form-group">
		<label for="num_drivers">Number of drivers?</label>
		<input type="number" name="num_drivers" id="num_drivers" class="form-control">
	</div>
	<div class="form-group">
		<label for="drivetrain">Drivetrain?</label>
		<input type="text" name="drivetrain" id="drivetrain" class="form-control">
	</div>
	<div class="form-group">
		<label for="autonomous_notes">Autonomous Strategy Notes</label>
		<textarea name="autonomous_notes" id="autonomous_notes" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="notes">Notes:</label>
		<textarea id="notes" name="notes" class="form-control"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit Pit Scouting!</button>
</form>

{% include 'partials/footer.html' %}