{% include "partials/header.html" %}

<h1>Team {{ team.team_number }}</h1>
<h2>{{ team.nickname }}</h2>
<h3>{{ team.location }}</h3>
<p><a target="_blank" href="https://thebluealliance.com/team/{{ team.team_number }}">See more on The Blue Alliance</a></p>

<img src="/img/{{ team.team_number }}" alt="Image of Robot" height="auto" width="300">
<h3>Events</h3>

<ul id="events">
{% for event in events %}
	<li class="event">
		<a href="/event/{{ event.key }}">{{ event.name }}</a>
		<span class="label label-primary">{{ event.start_date | date('F d') }} - {{ event.end_date | date('F d') }}</span>
	</li>
{% endfor %}
{% for event in pastEvents %}
	<li class="event">
		<a href="/event/{{ event.key }}">{{ event.name }}</a>
		<span class="label label-danger">{{ event.start_date | date('F d') }} - {{ event.end_date | date('F d') }}</span>
	</li>
{% endfor %}
</ul>

<h3>Scouting Data</h3>
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#defenses" data-toggle="tab">Defenses</a></li>
	<li><a href="#pitScouting" data-toggle="tab">Pit Scouting</a></li>
	<li><a href="#matchScouting" data-toggle="tab">Match Scouting</a></li>
	<li><a href="#comments" data-toggle="tab">Comments</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane table-responsive active" id="defenses">
		{% if defenses != false %}
		{% include 'partials/defense_partial.html' %}
		{% endif %}
	</div>
	<div class="tab-pane table-responsive" id="pitScouting">
		{% if pitScoutingData != false %}
		{% include 'partials/pit_scouting_partial.html' %}
		{% endif %}
	</div>
	<div class="tab-pane table-responsive" id="matchScouting">
		{% if ms != false %}
		{% include 'partials/match_scouting_data.html' %}
		{% endif %}
	</div>
	<div class="tab-pane table-responsive" id="comments">
		{% if numComments >= 1 %}
		<h3>Comments</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				{{ comment.notes }}
			</div>
			<div class="panel-heading">
				{{ comment.author }}
			</div>
		</div>
		{% endif %}
		{% if numComments %}
		<a href="/comment/{{ team.team_number }}">See the remaining {{ numComments - 1 }} comments.</a>
		{% endif %}
	</div>
</div>

{% if pastEvents %}
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#{{ pastEvents[0].name }}" data-toggle="tab">{{ pastEvents[0].name }}</a></li>
	{% for event in pastEvents[1:] %}
		<li><a href="#{{ event.name }}" data-toggle="tab">{{ event.name }}</a></li>
	{% endfor %}
</ul>

<div class="tab-content">
	{% for event in pastEvents %}
	<div class="tab-pane tab-responsive {% if loop.index0 == 0 %}active{% endif %}" id="{{ event.name }}">
		<h3>Awards</h3>
		{% for award in awards[loop.index0] %}
			<div>{{ award.name }}</div>
		{% endfor %}
		<h3>Rankings</h3>
		<table class="table" id="trankings">
			<thead>
				<th id="rank-rank">Ranking</th>
				<th id="rank-team">Team Number</th>
				<th id="rank-rp">Ranking Points</th>
				<th id="rank-auto">Auto Points</th>
				<th id="rank-sc">Scale/Challenge Points</th>
				<th id="rank-goals">Goals Points</th>
				<th id="rank-defense">Defense Points</th>
				<th id="rank-record">Record</th>
				<th id="rank-played">Matches Played</th>
			</thead>
			<tbody>
				<tr>
					<td>{{ rankings[loop.index0][0] }}</td>
					<td><a href="/team/{{ rankings[loop.index0][1] }}">{{ rankings[loop.index0][1] }}</a></td>
					<td>{{ rankings[loop.index0][2] }}</td>
					<td>{{ rankings[loop.index0][3] }}</td>
					<td>{{ rankings[loop.index0][4] }}</td>
					<td>{{ rankings[loop.index0][5] }}</td>
					<td>{{ rankings[loop.index0][6] }}</td>
					<td>{{ rankings[loop.index0][7] }}</td>
					<td>{{ rankings[loop.index0][8] }}</td>
				</tr>
			</tbody>
		</table>
		<h3>Stats</h3>
		<table class="table">
			<thead>
				<th id="team-number">Team Number</th>
				<th id="opr">OPR</th>
				<th id="dpr">DPR</th>
				<th id="ccwm">CCWM</th>
			</thead>
			<tbody>
				<tr>
					<td>{{ team.team_number }}</td>
					<td>{{ stats[loop.index0].opr }}</td>
					<td>{{ stats[loop.index0].dpr }}</td>
					<td>{{ stats[loop.index0].ccwm }}</td>
				</tr>
			</tbody>
		</table>
		<h3>Average Score</h3>
		<h4 class="averageScore"></h4>
		<h3>Matches</h3>
		<table class="table matches">
			<thead>
				<th id="match-type">Match Type</th>
				<th id="match-number">Match Number</th>
				<th id="match-rt1">Red Team 1</th>
				<th id="match-rt2">Red Team 2</th>
				<th id="match-rt3">Red Team 3</th>
				<th id="match-rs">Red Score</th>
				<th id="match-bt1">Blue Team 1</th>
				<th id="match-bt2">Blue Team 2</th>
				<th id="match-bt3">Blue Team 3</th>
				<th id="match-bs">Blue Score</th>
			</thead>
			<tbody>
				{% for match in matches[loop.index0] %}
					{% include 'partials/simple_match.html' %}
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% endfor %}
</div>
{% endif %}

<script src="/public/scripts/utils.js"></script>
<script>
	function getAverageScore() 
	{
		total = 0;
		matches = $('div.tab-pane:nth-child(n) table.matches tr').toArray();
		for (var i = 1; i < matches.length; i++)
		{
			var teams = $(matches[i]).find('td.team').toArray();
			var teamsR = $(matches[i]).find('td.team.danger').toArray();
			var teamsB = $(matches[i]).find('td.team.info').toArray();
			var scoresR = $(matches[i]).find('td.score.danger').toArray();
			var scoresB = $(matches[i]).find('td.score.info').toArray();
			for (var j = 0; j < teams.length; j++) 
			{
				if ($(teams[j]).children(0).text() == {{ team.team_number }})
				{
					if (j <= 2)
					{
						total += parseInt($(scoresR).text());
					}
					else if (j >= 3)
					{
						total += parseInt($(scoresB).text());
					}
				}

			}
		}
		$('.averageScore').text(total / (matches.length - 1));
	}

	getAverageScore();
	defenseRatingText('#psScouting');
	defenseRatingText('#dScouting');
	sortEvents();
	$('#match-type').on('click touchstart', function(e) {sort(e,0,true)});
	$('#match-number').on('click touchstart', function(e) {sort(e,1,true)});
	$('#match-rs').on('click touchstart', function(e) {sort(e,5,false)});
	$('#match-bs').on('click touchstart', function(e) {sort(e,9,false)});
</script>

{% include "partials/footer.html" %}
