{% include "partials/header.html" %}

<h1>Team {{ team.team_number }}</h1>
<h2>{{ team.nickname }}</h2>
<h3>{{ team.location }}</h3>
<p><a target="_blank" href="https://thebluealliance.com/team/{{ team.team_number }}">See more on The Blue Alliance</a></p>

{% if pitScoutingData != false %}
{% include 'partials/pit_scouting_partial.html' %}
{% else %}
<table class="table table-striped">
{% endif %}

{% if defenseExists != false %}
{% include 'partials/defense_partial.html' %}
{% else %}
</table>
{% endif %}

{% if numComments >= 1 %}
<h3>Comments</h3>
<div class="panel panel-default">
	<div class="panel-body">
		{{ comment.notes }}
	</div>
	<div class="panel-heading">
		{{ comment.author }}
	</div>
</div>
{% endif %}

{% if numComments %}
<a href="/comment/{{ team.team_number }}">See the remaining {{ numComments - 1 }} comments.</a>
{% endif %}

<h4>Events</h4>

<ul>
{% for event in events %}
	<li><a href="/event/{{ event.key }}">{{ event.name }}</a></li>
{% endfor %}
</ul>

<script>
	$.each($('td').toArray(), function(i, el) {
		text = $(el).text();
		if (parseInt(text) != NaN)
		{ 
			if ($(el).prev().text().indexOf('Number') == -1)
			{
				console.log(parseInt(text));
				if (parseInt(text) == 0) 
				{
					$(el).text("Cannot perform task.");
				}
				else if (parseInt(text) == 1)
				{
					$(el).text("Can perform inconsistently.");
				}
				else if (parseInt(text) == 2)
				{
					$(el).text("Can perform consistently.");
				}
			}
		} 
	});
</script>

{% include "partials/footer.html" %}