{% include 'partials/header.html' %}

<h3>Update User Data</h3>

<form action="" method="POST">
	<label for="name">Name</label>
	<input class="form-control" type="text" id="name" name="name" value="{{ userToEdit.name }}">
	<label for="email">Email</label>
	<input class="form-control" type="text" id="email" name="email" value="{{ userToEdit.email }}">
	<label for="rank">Rank</label>
	<input class="form-control" type="number" id="rank" name="rank" min="5" max="10" value="{{ userToEdit.rank }}">
	<br>
	<input type="submit" class="btn btn-primary" value="Update!">
</form>
<br>
<div id="pwdAlert" class="alert alert-danger">Passwords must match!</div>
<br>
<form action="" id="updatePwd" method="POST">
	<label for="password">New Password</label>
	<input class="form-control" type="password" id="password" name="password" required>
	<label for="cpassword">Confirm New Password</label>
	<input class="form-control" type="password" id="cpassword" name="cpassword" required>
	<br>
	<input id="pwd" type="submit" class="btn btn-primary" value="Update!">
</form>

<script>
	$('#pwdAlert').hide();
	$('#pwd').on('click touchstart', function(e) {
		e.preventDefault();
		if ($('#password').val() != $('#cpassword').val())
		{
			$('#pwdAlert').show();
		}
		else
		{
			$('#updatePwd').submit();
		}
	})
</script>

{% include 'partials/footer.html' %}