<table class="table table-responsive">
	<thead>
		<th colspan="3">Teams</th>
		<th>Score</th>
	</thead>
	<tr class="danger">
		{% for team in match.alliances.red.teams %}
			<td><a href="/team/{{ team[3:] }}">{{ team[3:] }}</a></td>
		{% endfor %}
		<td>{{ match.alliances.red.score }}</td>
	</tr>
	<tr class="info">
		{% for team in match.alliances.blue.teams %}
			<td><a href="/team/{{ team[3:] }}">{{ team[3:] }}</a></td>
		{% endfor %}
		<td>{{ match.alliances.blue.score }}</td>
	</tr>
</table>