<h3>{{ m.team_id }}</h3>

<table class="table table-striped">
	<tr>
		<td>Driver Skill</td>
		<td>{{ m.driver_skill }}</td>
	</tr>
	<tr>
		<td>Robot Speed</td>
		<td>{{ m.robot_speed }}</td>
	</tr>
	<tr>
		<td>Manueverability</td>
		<td>{{ m.manueverability }}</td>
	</tr>
	<tr>
		<td>Penalties</td>
		<td>{{ m.penalties }}</td>
	</tr>
	<tr>
		<td>Helpfulness</td>
		<td>{{ m.helpfulness }}</td>
	</tr>
	<tr>
		<td>Work Well With Us Ness</td>
		<td>{{ m.work_well_with_us }}</td>
	</tr>
	<tr>
		<td>Notes</td>
		<td>{{ m.notes.notes }}</td>
	</tr>
	<tr>
		<td>Author</td>
		<td>{{ m.author }}</td>
	</tr>
</table>