<table class="table">
	<thead>
		<th colspan="2">Average Match Scouting Data</th>
	</thead>
	<tr>
		<td>Driver Skill</td>
		<td>{{ ms.driver_skill }}</td>
	</tr>
	<tr>
		<td>Robot Speed</td>
		<td>{{ ms.robot_speed }}</td>
	</tr>
	<tr>
		<td>Manueverability</td>
		<td>{{ ms.manueverability }}</td>
	</tr>
	<tr>
		<td>Penalties</td>
		<td>{{ ms.penalties }}</td>
	</tr>
	<tr>
		<td>Helpfulness to Their Alliance</td>
		<td>{{ ms.helpfulness }}</td>
	</tr>
	<tr>
		<td>How Well Would They Work With Us?</td>
		<td>{{ ms.work_well_with_us }}</td>
	</tr>
</table>