<table class="table table-striped">
	<thead>
		<th colspan="2">Pit Scouting Data</th>
	</thead>
	<tr>
		<td>Boulders</td>
		<td>{{ pitScoutingData.boulders }}</td>
	</tr>
	<tr>
		<td>Number of Boulders per Match</td>
		<td>{{ pitScoutingData.num_boulders }}</td>
	</tr>
	<tr>
		<td>Climbing</td>
		<td>{{ pitScoutingData.hanging }}</td>
	</tr>
	<tr>
		<td>Sensors</td>
		<td>{{ pitScoutingData.sensors }}</td>
	</tr>
	<tr>
		<td>Defense</td>
		<td>{{ pitScoutingData.defensive_play }}</td>
	</tr>
	<tr>
		<td>Average Points in Practice</td>
		<td>{{ pitScoutingData.approx_points }}</td>
	</tr>
	<tr>
		<td>Average Number of Cycles</td>
		<td>{{ pitScoutingData.approx_cycles }}</td>
	</tr>
	<tr>
		<td>Autonomous Desciption</td>
		<td>{{ pitScoutingData.autonomous_notes }}</td>
	</tr>
	<tr>
		<td>Number of Drivers</td>
		<td>{{ pitScoutingData.num_drivers }}</td>
	</tr>
	<tr>
		<td>Drivetrain</td>
		<td>{{ pitScoutingData.drivetrain }}</td>
	</tr>